body
    background-color: $black



.container
    margin: 0 5%

h1, h2, h3, h4, h5, h6, p, a
    color: $white

.items, .biography 
    .box 
        background-color: $black-dark

.skills
    .container
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr
        justify-content: space-evenly     
        .box 
            background-color: $black-dark
            .title
                float: right