html 
    overflow: auto 
    box-sizing: border-box
    
body
    background-color: $black

.paragraph
    &-gray
        color: $white-dark
    &-hidden
        opacity: 0
        color: $white
        font-size: 24px
        text-align: center

section, header
    margin: 2% 0

h1, h2, h3, h4, h5, h6, p, a, li
    color: $white
    font-family: 'Inter'
    line-height: 24px

li 
    margin-top: 3%

a
    transition: .3s ease
    &:hover 
        color: $white-dark


.box 
    background-color: $black-dark
    display: grid
    justify-content: center

.container
    margin: 0 5%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto
    column-gap: 1rem

.about
    .container
        grid-template-columns: 2fr 1fr
        justify-items: end
        .biography
            .box
                grid-template-columns: auto 1fr
                gap: 5%
                padding: 5%
                transition: .4s ease
                .content
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                &:hover 
                    background: $black-light
                    .author img
                        animation: rotate-image 3s forwards  
                    .paragraph
                        opacity: 0
                    .paragraph-hidden
                        animation: opacity-visible 3s forwards



.skills
    .container
        gap: 2%
        .box 
            padding: 3% 0
            background-color: $black-dark
            transition: .4s ease
            .title
                display: grid
                justify-items: end
            &:hover 
                background-color: $black-light


.footer
    text-align: center
    padding: 5%
    a
        text-decoration: none
        transition: .3s ease
        &:hover 
            color: $white-dark




@keyframes rotate-image
    0%
        transform: rotate(0)
    50% 
        transform: rotate(1.5deg)
    100%
        transform: rotate(2.5deg)

@keyframes opacity-visible
    0%
        opacity: 0
    20%
        opacity: .2
    40%
        opacity: .4
    60%
        opacity: .6
    80%
        opacity: .8
    100%
        opacity: 1

        

    


